.main-chat
  .main-header
    .left-box 
      .currrent-group 
        = @group.name
      .menber-list 
  .messeges
    = render @messeges

  .form
    = form_for [@group, @messege] do |f|
      = f.text_field :content, class: 'form__messege', placeholder: 'type a messege'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'