.sift-main 
  .sift-nav
    .sift-nav__left-title Worker App
    %h3.sift-nav__left-name 
      = current_user.name 
    %ul.sift-nav__right-register
      = link_to new_group_url  do
        = icon('fas', 'pen-square', class: 'icon')
    %ul.sift-nav__right-login
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'icon')
